@use "./global";
@import "bootstrap/scss/bootstrap";
@import "tippy.js/dist/tippy.css";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: transparent;
  color: #111827;
}
